<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="2638cd05610744eb" />
        <codeBase version="2.7.0.0" href="lib\nunit.framework.dll" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>